<form [formGroup]="form" (ngSubmit)="getConverted()">
  <div class="row mt-4">
    <div class="col-md-5 m-2">
      <div class="form-group">
        <div class="input-group">
          <select formControlName="name" class="form-select">
            <option value="" selected disabled>Select crypto</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="BNB">BNB</option>
            <option value="USDT">USDT</option>
            <option value="ADA">ADA</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-2">
      <div class="form-group">
        <div class="input-group">
          <input
            type="number"
            max="9999"
            class="form-control"
            formControlName="quantity"
            placeholder="Quantity"
          />
        </div>
      </div>
    </div>
    <div class="col-md-2 m-2">
      <button
        [disabled]="form.invalid"
        class="btn btn-success btn-block"
        type="submit"
      >
        Convert
      </button>
    </div>
  </div>

  <div class="p-2">
    <div class="col-md-6" *ngIf="cryptoService.listConverted; else message">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Converted value</th>
          </tr>
        </thead>
        <tr *ngFor="let crypto of cryptoService.listConverted">
          <td>{{ crypto.name }}</td>
          <td>{{ crypto.price }}</td>
        </tr>
      </table>
    </div>
    <ng-template #message>
      <div>Select crypto and quantity to convert.</div>
    </ng-template>
  </div>
</form>
